# Token et variables secrètes
.env

# Python
__pycache__/
*.py[cod]

# Environnement virtuel
venv/
.venv/
env/

# Fichiers temporaires
*.log
*.tmp

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db/
